<!-- views/login.ejs -->
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>mProject api</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" type="text/css" rel="stylesheet" />
    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/superhero/bootstrap.min.css" type="text/css" rel="stylesheet" />
	<style>
		body 		{ padding-top:80px; }
	</style>
</head>
<body>
    <div class="container">
        <div class="col-sm-6 col-sm-offset-3">
            <h1><span class="fa fa-sign-in"></span> Login</h1>

            <!-- show any messages that come back with authentication -->
            <% if (message.length > 0) { %>
                <div class="alert alert-danger"><%= message[0] %></div>
            <% } %>

            <!-- LOGIN FORM -->
            <form action="/login" method="post">
                <div class="form-group">
                    <label>Username</label>
                    <input type="text" class="form-control" name="username">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" name="password">
                </div>
                <div class="form-group">
                    <label>Remember Me</label>
                    <input type="checkbox" class="form-control" name="remember" value="yes">
                </div>

                <button type="submit" class="btn btn-warning btn-lg">Login</button>
            </form>

            <hr>

            <p>Need an account? <a href="/signup">Signup</a></p>
            <p>Or go <a href="/">home</a>.</p>
        </div>
    </div>
</body>
</html>